@font-face {
    font-family: 'ClassicaPro';
    src: url(../fonts/ClassicaPro-Light.ttf);
}

@font-face {
    font-family: 'BlackerSansPro';
    src: url(../fonts/BlackerSansPro-Extralight.ttf);
}

.hero {
    /* background-color: #f9f7ee; */
    padding: 50px;
    text-align: center;
}

.hero h1 {
    font-family: 'BlackerSansPro', sans-serif;
    font-size: 4em;
    margin-bottom: 10px;
    width: 65%;
    display: inline-block;
    align-items: center;
    justify-content: space-around;
    flex-grow: 1;
    text-align: center;
}

.hero h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.hero p {
    font-family: 'ClassicaPro', sans-serif;
    font-size: 1.5em;
    margin-bottom: 20px;
    width: 55%;
    display: inline-block;
    text-align: center;
}

.hero a {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
}

.services {
    padding: 50px;
    text-align: center;
    background-color: #f9f7ee;
    height: 1300px;
}

.services h1 {
    font-size: 4em;
    margin-bottom: 10px;
    width: 70%;
    display: inline-block;
    align-items: center;
    justify-content: space-around;
    flex-grow: 1;
    text-align: center;
}

/* .services-title {} */

.the-services {
    /* display: inline-block; */
    display: flex;
    justify-content: space-around;
    /* flex-wrap: wrap; */
}

.service-event {
    margin-top: 250px !important;
    /* position: relative;
    flex: 1; */
    width: 100%;
    margin: 20px;
}

.service-tech {
    margin-top: 50px !important;
    /* position: relative;
    flex: 1; */
    width: 100%;
    margin: 20px;
}

.service-crea {
    /* position: relative;
    flex: 1; */
    width: 100%;
    margin: 20px;
}

/* .services h1 {
    text-align: center;
    margin-bottom: 20px;
    display: block;
} */

.service {
    float: center;
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;
    text-align: center;
    width: 100%;
    flex-wrap: wrap;
}

.service img {
    height: 400px;
    width: 280px;
    /* display: flex; */
    /* justify-content: space-between; */
    object-fit: cover;
    /* To be check on the PDF*/
    object-position: center;
    border-style: none;
    border-color: none;
    border-radius: 180px 180px 180px 180px;
    text-align: center;
    align-items: center;
}

.service h3 {
    font-family: 'ClassicaPro', sans-serif;
    font-size: 1.5em;
    margin-bottom: 10px;
    margin-right: 50px;
}

.service p {
    margin-bottom: 10px;
}

/* 
@media all and (min-width: 900px) {

    .the-services {
        flex: 3;
    }

    .service-crea {
        order: 1;
    }

    .service-event {
        order: 2;
    }

    .service-tech {
        order: 3;
    }

    .more {
        flex: 2;
    }

    .moretext {
        order: 1;
    }

    .morevideo {
        order: 2;
    }
} */

@media all and (min-width: 600px) {}

@media screen and (max-width: 900px) {
    .hero h1 {
        font-family: 'BlackerSansPro', sans-serif;
        font-size: 1.7em;
        margin-bottom: 10px;
        width: 100% !important;
        display: inline-block;
        align-items: center;
        justify-content: space-around;
        flex-grow: 1;
        text-align: center;
    }

    .hero p {
        font-family: 'ClassicaPro', sans-serif;
        font-size: 1.3em;
        margin-bottom: 20px;
        width: 100%;
        display: inline-block;
        text-align: center;
    }

    .services h1 {
        font-size: 1.7em;
        margin-bottom: 10px;
        width: 100%;
        display: inline-block;
        align-items: center;
        justify-content: space-around;
        flex-grow: 1;
        text-align: center;
    }

    .more {
        flex-wrap: wrap;
        width: 70%;
    }

    .morevideo {
        padding-top: 50px;
        margin-left: -120px;
    }

    .moretext {
        margin-left: -120px;
    }

    .moretext p {
        width: 100% !important;
        font-size: 20px;
    }

    .home_contact {
        flex-wrap: wrap;
    }

    .the-services {
        /* flex-wrap: wrap; */
        display: block !important;
        width: 100% !important;
        max-width: 100%;
    }

    .service img {
        height: 700px !important;
        width: 400px !important;
        margin-left: 70px;
    }

    .services {
        height: 100% !important;
    }


    .service-event {
        width: 100% !important;
        position: static !important;
        margin-top: 50px !important;
        display: inline !important;
        max-width: 100% !important;
    }

    .service-crea {
        width: 100% !important;
        position: static !important;
        margin-top: 50px !important;
        display: inline !important;
        max-width: 100% !important;
    }

    .service-tech {
        width: 100% !important;
        position: static !important;
        margin-top: 50px !important;
        display: inline !important;
        max-width: 100% !important;
    }

}

@media screen and (max-width: 375px) {
    .service img {
        height: 300px !important;
        width: 1000px !important;
        margin-left: 0;
    }

}

@media screen and (max-width: 430px) {
    .service img {
        height: 350px !important;
        width: 1000px !important;
        margin-left: 0;
    }

}

@media screen and (max-width: 540px) {
    .service img {
        height: 500px !important;
        width: 400px !important;
        margin-left: 0;
    }

    .moretext {
        margin: 0 !important;
    }

    .more {
        margin-left: 40px !important;
        margin-right: 40px !important;
    }

    .morevideo {
        margin: 4px !important;
    }

    .home_contact {
        margin-left: 10px !important;
        margin-right: 7px !important;
    }

}

.more {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 100px;
    margin-right: 100px;
    margin-left: 100px;
    margin-bottom: 100px;
}

.moretext {
    /* position: relative;
    flex-grow: 1; */
    width: 100%;
    margin: 40px;
}

.moretext p {
    font-family: 'ClassicaPro', sans-serif;
    width: 100%;
    font-size: 20px;
}

.moretext h3 {
    font-family: 'ClassicaPro', sans-serif;
    font-size: 25px;
    margin-top: 20px;
}

.morevideo {
    position: relative;
    flex-grow: 1;
    width: 100%;
    margin: 40px;
}

.morevideo_video {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-width: 2px;
    border-color: gray;
    border-style: solid;
    border-radius: 0 100px 0 100px;
}

.home_contact {
    display: flex;
    margin-left: 100px;
    margin-top: 200px;
    margin-right: 70px;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 200px;
}

.home_contact_form {
    margin-top: 30px;
    height: 500px;
    width: 100%;
    object-fit: cover;
}

.home_contact_img {
    height: 500px;
    width: 100%;
    object-fit: cover;
    object-position: left;
    border-style: solid;
    border-color: gray;
    border-radius: 40px 0 40px 0;
}

.home_contact_brand {
    width: 100%;
    margin: 40px;
}

input {
    font-family: 'ClassicaPro', sans-serif;
    font-size: 3.9rem;
    font-weight: bold;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(200, 200, 200);
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 16px;
    padding-right: 16px;
    font-size: 16px;
    border-radius: 20px;
    margin-bottom: 12px;
}

textarea {
    font-family: 'ClassicaPro', sans-serif;
    font-size: 3.9rem;
    font-weight: bold;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(200, 200, 200);
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 16px;
    padding-right: 16px;
    font-size: 16px;
    border-radius: 20px;
    margin-bottom: 12px;
    width: 100%;
}

.nom {
    width: 49%;
}

.prenom {
    width: 49%;
}

.email {
    display: block;
    width: 100%;
}

.send_button {
    font-family: 'ClassicaPro', sans-serif;
    background-color: rgb(213, 220, 230);
    color: rgb(0, 0, 0);
    border: none;
    width: 100%;
    padding-top: 14px;
    padding-bottom: 14px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 16px;
    display: block;
}

@media screen and (max-width: 290px) {
    .hero h1 {
        font-size: 2.0rem !important;
        width: 130% !important;
        margin-left: -30px !important;
    }


    .hero p {
        font-size: 1.2em !important;
        width: 130% !important;
        margin-left: -30px !important;
    }

    .nom {
        width: 100% !important;
    }

    .prenom {
        width: 100% !important;
    }

}